<h1 class="text-center">Messages</h1>

<div class="center">
  <%= link_to '/' do  %>
    <div class="btn btn-info" ">Back HOME</div>
  <% end %>
</div>

<% if user_signed_in? %>


<h2 class="text-center">Your Requests</h2>
<br>
  <% @first_request.each do |conv| %>

    <div class="message-box">
      <h2 class="text-center" > from: <%= conv.sender.name %> CN_ID: <%= conv.id %></h2>
      <h3><%= conv.sender.email %></h3>
      <p style="font-size: 25px; margin:0px 20px 18px"><%= conv.messages.last.body %></p>
      <%= conv.messages.last.created_at %>
      <div class="center">
        <%= link_to delete_conversation_path(sender_id: conv.sender.id), method: :delete do %>
          <div class="btn btn-danger" ">Delete Conversation</div>
        <% end %>
      </div>
      <div class="center">
        <%= link_to messages_path(sender_id: conv.sender.id), method: :post do %>
          <div class="btn btn-primary" ">Accept the job</div>
        <% end %>
      </div>
    </div>
  <% end %>


  <% @first_request.each do |conv| %>

    <div class="message-box">
      <h2 class="text-center" > from: <%= conv.sender.name %> CN_ID: <%= conv.id %></h2>
      <h3><%= conv.sender.email %></h3>
      <p style="font-size: 25px; margin:0px 20px 18px"><%= conv.messages.last.body %></p>
      <%= conv.messages.last.created_at %>
      <div class="center">
        <%= link_to delete_conversation_path(sender_id: conv.sender.id), method: :delete do %>
          <div class="btn btn-danger" ">Delete Conversation</div>
        <% end %>
      </div>
    </div>
<% end %>



  <% @first_request.each do |conv| %>

    <div class="message-box">
      <h2 class="text-center" > from: <%= conv.sender.name %> CN_ID: <%= conv.id %></h2>
      <h3><%= conv.sender.email %></h3>
      <p style="font-size: 25px; margin:0px 20px 18px"><%= conv.messages.last.body %></p>
      <%= conv.messages.last.created_at %>
      <div class="center">
        <%= link_to delete_conversation_path(sender_id: conv.sender.id), method: :delete do %>
          <div class="btn btn-danger" ">Delete Conversation</div>
        <% end %>
      </div>
    </div>
<% end %>

<% else %>

<h1 class="text-center">You are not logged bicc</h1>

<% end %>
