

<div class="banner">
<%= render 'shared/navbar' %>
 <!--  <img src="https://picsum.photos/200/300/?random"> -->
</div>

<div class="avatar">
  <img src=<%= @ebuyer.photo %>, style="height: 120px; border-radius: 5px" >
</div>


<br>
<br>
<div class="header">
  <%= @ebuyer.name %> <%= @ebuyer.surname %>, <%= @ebuyer.age %>
</div>

</div>
<div class="city">
<%= @ebuyer.city %>
</div>


 <div class= "ratings">
   <% @ebuyer.average_rating.to_i.times do  %>
    <i class="fas fa-star"></i>
   <% end %>
 </div>

<br>
<br>
<div class="bio">
<%= @ebuyer.bio %>
</div>

<br>
<br>

<div class="chat" align="center">
<a href="" class="btn-chat"> Start chatting with <%= @ebuyer.name%></a>
</div>

<h2>Log in</h2>



<%= simple_form_for ':id/conversations' do |f| %>
  <div class="form-group">
    <%= f.label :message %>
    <%= f.text_field :message, class: 'form-control' %>
  </div>

<!-- here goes the date picker -->

  <%= f.submit class: 'btn btn-primary' %>
<% end %>




