

<div class="banner">
<%= render 'shared/navbar' %>
 <!--  <img src="https://picsum.photos/200/300/?random"> -->
</div>

<div class="avatar">
  <img src=<%= @ebuyer.photo %>, style="height: 120px; border-radius: 5px" >
</div>


<br>
<br>
<div class="header">
  <%= @ebuyer.name %> <%= @ebuyer.surname %>, <%= @ebuyer.age %>
</div>

</div>
<div class="city">
<%= @ebuyer.city %>
</div>


 <div class= "ratings">
   <% @ebuyer.average_rating.to_i.times do  %>
    <i class="fas fa-star"></i>
   <% end %>
 </div>
 <br>

 <div class="date" align="center">
   <p href="" class="btn-date">  User since <%= @ebuyer.start_date %></p>
 </div>


<div class="fee" align="center">
  <a href="" class="btn-fee">  <p> MIN FEE </p>
     <p> <%= @ebuyer.fee %> € </p></a>
</div>

<br>
<br>
<div class="bio">
<%= @ebuyer.bio %>
</div>

<br>
<br>

<div class="chat" align="center">
<a href="" class="btn-chat"> START CHATTING WITH <%= @ebuyer.name.upcase %></a>
</div>


